$primary-color: #D9FF39;
$primary-color-light: $primary-color;
$primary-color-dark: $primary-color;
$secondary-color: #3A3B3F;

@import 'components/Main';
@import 'components/Header';
@import 'components/Footer';
@import 'components/Info';
@import 'components/Subscribe';
@import 'components/Alert';
@import 'components/Loading';


body{
  background: $secondary-color;
  text-rendering: optimizeLegibility;
}

hr{
  border: none;
  border-top: 1px dashed rgba(187, 248, 57, 0.1);
  margin: 4vw;
}

h4{
  font-weight: 100;
}

h4.num {
  letter-spacing: 3px;
  font-weight: 400;
}

h5 {
  font-size: 1.4rem;
  color: #C5C469;
  font-weight: 100;
}

.spinner-yellow, .spinner-yellow-only {
    border-color: $primary-color;
}
.preloader-wrapper {
  display: block;
  margin: 0 auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}
