{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "arrowFunctions": true,
        "jsx": true,
        "modules": true
    },
    "rules": {
        "semi": 2,
        "no-underscore-dangle" : false,
        "no-use-before-define" : "nofunc",
        "no-multi-spaces" : false,
        "key-spacing": [2, { "align": "colon" }],
        "quotes": false,
        "strict": false,
        "new-cap": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "amd": true,
        "mocha": true
    }
}
