body {
  background: #3A3B3F;
  text-rendering: optimizeLegibility; }

hr {
  border: none;
  border-top: 1px dashed rgba(187, 248, 57, 0.1);
  margin: 4vw; }

h4 {
  font-weight: 100; }

h4.num {
  letter-spacing: 7px;
  font-weight: 400; }

h5 {
  font-size: 1.4rem;
  color: #C5C469;
  font-weight: 100; }

.stgoLab {
  margin-bottom: 4vw; }
  .stgoLab h5 {
    letter-spacing: 2px; }
  .stgoLab img {
    width: 400px; }

.logo {
  width: 780px; }

.top {
  padding: 4vw 0 2vw 0; }

.main {
  text-align: center; }

.date h5 {
  background-color: rgba(23, 23, 23, 0.62);
  line-height: 2;
  margin: 2vh 0 0 0;
  padding: 0 11px;
  color: #FFC017;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize; }

.date.picker__date-display {
  background-color: #63655B;
  padding-bottom: 0;
  margin-bottom: 4vh; }

.date .picker__weekday-display {
  background-color: #56594D;
  font-weight: 300;
  margin-bottom: 6px; }

.date .picker__day-display {
  font-size: 2.5rem; }

.date .picker__month-display {
  font-size: 1.5rem; }

.date .picker__year-display {
  font-size: 1.3rem; }

.restriccion h3 {
  text-transform: uppercase;
  margin-top: 0;
  color: #C5D38F;
  font-weight: 100; }

.restriccion .conSello, .restriccion .sinSello {
  padding: 15px 20px;
  border: 1px solid #464E3D;
  margin-bottom: 4vh; }
  .restriccion .conSello h5, .restriccion .sinSello h5 {
    font-weight: 200;
    font-size: 1.4rem; }

.restriccion .sinSello h5 {
  color: #FF4254; }

.restriccion .conSello h5 {
  color: #B6FF2C; }

.info, .numeros {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  color: #fff; }

.subscripcion {
  padding: 1vh 0; }
  .subscripcion h4 {
    margin: 0 0 2rem 0; }

form {
  max-width: 700px;
  margin: 0 auto; }
  form .input-field input {
    color: #fff;
    font-size: 3.5vw;
    height: 6vw;
    min-height: 34px;
    text-align: center; }
  form .input-field label {
    top: 1.8vw; }
  form .input-field.select label {
    top: -1.2vw; }
  form .btn-large {
    color: #63655B; }
  form .select-wrapper span.caret {
    color: #D9FF39; }
  form .select-wrapper .dropdown-content li {
    line-height: 1rem; }
  form .select-wrapper input.select-dropdown {
    font-size: 1.4rem;
    font-weight: 300; }

@media screen and (max-width: 400px) {
  .restriccion .conSello, .restriccion .sinSello {
    padding: 0px 20px;
    width: 100%; }
  .restriccion h3 {
    font-size: 1.5rem; }
  .date {
    padding-top: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%; }
    .date div {
      height: 30px;
      background: transparent;
      font-size: 1.7rem;
      display: inline-block;
      height: 24px;
      line-height: 1.9rem;
      padding: 0;
      margin: 0 4px 0 4px; }
    .date .picker__weekday-display {
      background: transparent;
      font-size: 1.3rem;
      margin: 0 4px 0 4px; }
    .date h5 {
      display: block;
      width: 100%; } }
/*# sourceMappingURL=screen.css.map */