/* line 7, ../sass/screen.scss */
body {
  background: #3A3B3F;
  text-rendering: optimizeLegibility;
}

/* line 12, ../sass/screen.scss */
hr {
  border: none;
  border-top: 1px dashed rgba(187, 248, 57, 0.1);
  margin: 4vw;
}

/* line 18, ../sass/screen.scss */
h4 {
  font-weight: 100;
}

/* line 22, ../sass/screen.scss */
h4.num {
  letter-spacing: 3px;
  font-weight: 400;
}

/* line 27, ../sass/screen.scss */
h5 {
  font-size: 1.4rem;
  color: #C5C469;
  font-weight: 100;
}

/* line 33, ../sass/screen.scss */
.stgoLab {
  margin-bottom: 4vw;
  text-align: center;
}
/* line 36, ../sass/screen.scss */
.stgoLab h5 {
  letter-spacing: 2px;
}
/* line 37, ../sass/screen.scss */
.stgoLab img {
  width: 400px;
}

/* line 40, ../sass/screen.scss */
.logo {
  width: 780px;
}

/* line 42, ../sass/screen.scss */
.top {
  padding: 4vw 0 4vw 0;
}

/* line 46, ../sass/screen.scss */
.main {
  text-align: center;
}

/* line 51, ../sass/screen.scss */
.date h5 {
  background-color: rgba(23, 23, 23, 0.62);
  line-height: 1.5;
  margin: 2vh 0 0 0;
  padding: 5px 11px;
  color: #FFC017;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
}
/* line 61, ../sass/screen.scss */
.date.picker__date-display {
  background-color: #63655B;
  padding-bottom: 0;
  margin-bottom: 3vh;
  flex-basis: 25%;
  min-width: 240px;
}
/* line 68, ../sass/screen.scss */
.date .picker__weekday-display {
  background-color: #56594D;
  font-weight: 300;
  margin-bottom: 6px;
}
/* line 73, ../sass/screen.scss */
.date .picker__day-display {
  font-size: 2.2rem;
}
/* line 76, ../sass/screen.scss */
.date .picker__month-display {
  font-size: 1.2rem;
}
/* line 79, ../sass/screen.scss */
.date .picker__year-display {
  font-size: 1.2rem;
}

/* line 85, ../sass/screen.scss */
.restriccion h3 {
  text-transform: uppercase;
  margin-top: 0;
  color: #C5D38F;
  font-weight: 100;
}
/* line 91, ../sass/screen.scss */
.restriccion .conSello, .restriccion .sinSello {
  padding: 15px 20px;
  border: 1px solid #464E3D;
  margin: 0 1vw 4vh 1vw;
}
/* line 95, ../sass/screen.scss */
.restriccion .conSello h5, .restriccion .sinSello h5 {
  font-weight: 200;
  font-size: 1.4rem;
}
/* line 100, ../sass/screen.scss */
.restriccion .sinSello h5 {
  color: #FF4254;
}
/* line 103, ../sass/screen.scss */
.restriccion .conSello h5 {
  color: #B6FF2C;
}

/* line 108, ../sass/screen.scss */
.info, .numeros {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
}

/* line 115, ../sass/screen.scss */
.subscripcion {
  padding: 1vh 0;
}
/* line 117, ../sass/screen.scss */
.subscripcion h4 {
  margin: 0 0 2rem 0;
  font-size: 3.5rem;
}

/* line 123, ../sass/screen.scss */
form {
  max-width: 700px;
  margin: 0 auto;
}
/* line 127, ../sass/screen.scss */
form .input-field input {
  color: #fff;
  font-size: 3.5vw;
  height: 6vw;
  min-height: 34px;
  text-align: center;
}
/* line 134, ../sass/screen.scss */
form .input-field label {
  top: 1.8vw;
}
/* line 135, ../sass/screen.scss */
form .input-field.select label {
  top: -1.2vw;
}
/* line 137, ../sass/screen.scss */
form .btn, form .btn-large {
  color: #63655B;
  background-color: #D9FF39;
}
/* line 141, ../sass/screen.scss */
form .btn:hover, form .btn-large:hover {
  background-color: #deff53;
}
/* line 145, ../sass/screen.scss */
form .select-wrapper span.caret {
  color: #D9FF39;
}
/* line 147, ../sass/screen.scss */
form .select-wrapper .dropdown-content li {
  line-height: 1rem;
}
/* line 149, ../sass/screen.scss */
form .select-wrapper .dropdown-content li span {
  color: rgba(0, 0, 0, 0.87);
}
/* line 151, ../sass/screen.scss */
form .select-wrapper input.select-dropdown {
  font-size: 1.4rem;
  font-weight: 300;
}
/* line 156, ../sass/screen.scss */
form [type="radio"]:checked + label:after {
  border: 2px solid #D9FF39;
  background-color: #D9FF39;
}
/* line 160, ../sass/screen.scss */
form input[type=text]:focus:not([readonly]),
form input[type=password]:focus:not([readonly]),
form input[type=email]:focus:not([readonly]),
form input[type=url]:focus:not([readonly]),
form input[type=time]:focus:not([readonly]),
form input[type=date]:focus:not([readonly]),
form input[type=datetime-local]:focus:not([readonly]),
form input[type=tel]:focus:not([readonly]),
form input[type=number]:focus:not([readonly]),
form input[type=search]:focus:not([readonly]),
form textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #D9FF39;
  box-shadow: 0 1px 0 0 #D9FF39;
}
/* line 174, ../sass/screen.scss */
form input[type=text]:focus:not([readonly]) + label,
form input[type=password]:focus:not([readonly]) + label,
form input[type=email]:focus:not([readonly]) + label,
form input[type=url]:focus:not([readonly]) + label,
form input[type=time]:focus:not([readonly]) + label,
form input[type=date]:focus:not([readonly]) + label,
form input[type=datetime-local]:focus:not([readonly]) + label,
form input[type=tel]:focus:not([readonly]) + label,
form input[type=number]:focus:not([readonly]) + label,
form input[type=search]:focus:not([readonly]) + label,
form textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #D9FF39;
}

/* line 189, ../sass/screen.scss */
.spinner-yellow, .spinner-yellow-only {
  border-color: #D9FF39;
}

/* line 192, ../sass/screen.scss */
.preloader-wrapper {
  display: block;
  margin: 0 auto;
}

/* line 197, ../sass/screen.scss */
.alertForm {
  min-height: 46px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}
/* line 206, ../sass/screen.scss */
.alertForm.alertTrue {
  background-color: rgba(217, 255, 57, 0.48);
}
/* line 207, ../sass/screen.scss */
.alertForm.alertFalse {
  background-color: rgba(255, 57, 57, 0.48);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 229, ../sass/screen.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 262, ../sass/screen.scss */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@media screen and (max-width: 400px) {
  /* line 273, ../sass/screen.scss */
  .restriccion .conSello, .restriccion .sinSello {
    padding: 0px 20px;
    width: 100%;
  }
  /* line 278, ../sass/screen.scss */
  .restriccion h3 {
    font-size: 1.5rem;
  }

  /* line 280, ../sass/screen.scss */
  form .select-wrapper input.select-dropdown {
    font-size: 1.1rem;
  }

  /* line 283, ../sass/screen.scss */
  .date {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  /* line 290, ../sass/screen.scss */
  .date div {
    height: 30px;
    background: transparent;
    font-size: 1.15rem;
    display: inline-block;
    height: 24px;
    line-height: 1.9rem;
    padding: 0;
    margin: 0 2px 0 2px;
    text-transform: capitalize;
  }
  /* line 301, ../sass/screen.scss */
  .date .picker__weekday-display {
    background: transparent;
    font-size: 1.15rem;
    margin: 0 4px 0 4px;
  }
  /* line 306, ../sass/screen.scss */
  .date .picker__day-display {
    flex-basis: 22px;
  }
  /* line 309, ../sass/screen.scss */
  .date h5 {
    display: block;
    width: 100%;
  }
}
