$primary-color: #D9FF39;
$primary-color-light: #D9FF39;
$primary-color-dark: #D9FF39;
$secondary-color: #3A3B3F;


body{
  background: $secondary-color;
  text-rendering: optimizeLegibility;
}

hr{
  border: none;
  border-top: 1px dashed rgba(187, 248, 57, 0.1);
  margin: 4vw;
}

h4{
  font-weight: 100;
}

h4.num {
  letter-spacing: 7px;
  font-weight: 400;
}

h5 {
  font-size: 1.4rem;
  color: #C5C469;
  font-weight: 100;
}

.stgoLab{
  margin-bottom: 4vw;
  h5{ letter-spacing: 2px; }
  img { width: 400px; }
}

.logo{ width: 780px; }

.top{
  padding: 4vw 0 2vw 0;
}

.main{
  text-align: center;
}

.date{
  h5{
    background-color: rgba(23, 23, 23, 0.62);
    line-height: 2;
    margin: 2vh 0 0 0;
    padding: 0 11px;
    color: #FFC017;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  &.picker__date-display{
    background-color: #63655B;
    padding-bottom: 0;
    margin-bottom: 4vh;
  }
  .picker__weekday-display {
    background-color: #56594D;
    font-weight: 300;
    margin-bottom: 6px;
  }
  .picker__day-display {
    font-size: 2.5rem;
  }
  .picker__month-display {
    font-size: 1.5rem;
  }
  .picker__year-display {
    font-size: 1.3rem;
  }
}

.restriccion{
  h3{
    text-transform: uppercase;
    margin-top: 0;
    color: #C5D38F;
    font-weight: 100
  }
  .conSello, .sinSello {
    padding: 15px 20px;
    border: 1px solid #464E3D;
    margin-bottom: 4vh;
    & h5{
      font-weight: 200;
      font-size: 1.4rem;
    }
  }
  .sinSello h5 {
    color: #FF4254;
  }
  .conSello h5 {
    color: #B6FF2C;
  }
}

.info, .numeros{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #fff;
}

.subscripcion{
  padding: 1vh 0;
}


form{
  max-width: 700px;
  margin: 0 auto;
  .input-field{
    input{
      color: #fff;
      font-size: 3.5vw;
      height: 6vw;
      min-height: 34px;
      text-align: center;
    }
    label{ top: 1.8vw; }
  }
  .btn-large{
    color: #63655B;
  }
}

@media screen and (max-width: 400px){
  .restriccion{
    .conSello, .sinSello {
      padding: 0px 20px;
      width: 100%;
    }
    h3{ font-size: 1.5rem; }
  }
  .date{
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    div{
      height: 30px;
      background: transparent;
      font-size: 1.7rem;
      display: inline-block;
      height: 24px;
      line-height: 1.9rem;
      padding: 0;
      margin: 0 4px 0 4px;
    }
    .picker__weekday-display{
      background: transparent;
      font-size: 1.3rem;
      margin: 0 4px 0 4px;
    }
    h5{
      display: block;
      width: 100%;
    }
  }
}
