.Subscribe{
  padding: 1vh 0;

  h4{
    margin: 0 0 2rem 0;
    font-size: 3.5rem;
  }

  form {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    .input-field{
      input{
        color: #fff;
        font-size: 3.5vw;
        height: 6vw;
        min-height: 34px;
        text-align: center;
      }
      label{ top: 1.8vw; }
      &.select label{ top: -1.2vw; }
    }
    .btn, .btn-large{
      color: #63655B;
      background-color: $primary-color;
    }
    .btn:hover, .btn-large:hover {
      background-color: #deff53;
    }
    .select-wrapper {
      span.caret { color: $primary-color; }

      .dropdown-content li { line-height: 1rem; }

      .dropdown-content li span{ color: rgba(0, 0, 0, 0.87); }

      input.select-dropdown {
        font-size: 1.4rem;
        font-weight: 300;
        height: 4vw;
        min-height: 45px;
      }
    }
    [type="radio"]:checked + label:after {
      border: 2px solid $primary-color;
      background-color: $primary-color;
    }
    input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=url]:focus:not([readonly]),
    input[type=time]:focus:not([readonly]),
    input[type=date]:focus:not([readonly]),
    input[type=datetime-local]:focus:not([readonly]),
    input[type=tel]:focus:not([readonly]),
    input[type=number]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
      border-bottom: 1px solid $primary-color;
      box-shadow: 0 1px 0 0 $primary-color;
    }
    input[type=text]:focus:not([readonly])+label,
    input[type=password]:focus:not([readonly])+label,
    input[type=email]:focus:not([readonly])+label,
    input[type=url]:focus:not([readonly])+label,
    input[type=time]:focus:not([readonly])+label,
    input[type=date]:focus:not([readonly])+label,
    input[type=datetime-local]:focus:not([readonly])+label,
    input[type=tel]:focus:not([readonly])+label,
    input[type=number]:focus:not([readonly])+label,
    input[type=search]:focus:not([readonly])+label,
    textarea.materialize-textarea:focus:not([readonly])+label {
      color: $primary-color;
    }
  }
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
  color: #CACACA;
  font-size: 1.2rem;
}

@media screen and (max-width: 480px){
  .Subscribe{
    form .select-wrapper input.select-dropdown {
      font-size: 1.1rem;
    }
    form .input-field input{ font-size: 7.5vw; }
  }
}
