<!DOCTYPE html>
 <html>
   <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

     <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
     <link type="text/css" rel="stylesheet" href="css/screen.css"  media="screen,projection"/>

     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
     <script type="text/javascript" src="js/materialize.min.js"></script>
     <script type="text/javascript">
     $(document).ready(function() {
        $('select').material_select();
      });
     </script>
   </head>
   <body>
     <div id="appRoot" class="container"><%= reactApp %></div>
     <script src="js/client.js"></script>
   </body>
 </html>
