<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="description" content="¿Tengo Restricción? - Te avisamos cuando tengas Restricción Vehicular en Santiago de Chile" />
  <meta name="application-name" content="¿Tengo Restricción?" />
  <title>¿Tengo Restricción? - Restricción Vehicular en Santiago</title>

  <meta property="og:url" content="http://www.tengorestriccion.cl" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="es_CL" />
  <meta property="og:title" content="¿Tengo Restricción?" />
  <meta property="og:description" content="¿Tengo Restricción? - Te avisamos cuando tengas Restricción Vehicular en Santiago de Chile" />
  <meta property="og:image" content="http://www.tengorestriccion.cl/imgs/og.png" />

  <link rel="shortcut icon" type="image/png" href="/imgs/fav.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/imgs/apple-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/imgs/apple-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/imgs/apple-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/imgs/apple-icon-144x144.png" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-65904197-1', 'auto');
    ga('send', 'pageview');
  </script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link type="text/css" rel="stylesheet" href="css/screen.css"  media="screen,projection"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <%= reactAppInitialState %>
</head>
<body>
  <div id="appRoot"><%= reactApp %></div>
  <script src="js/client.js"></script>
</body>
</html>
